Source: deluge
Section: net
Priority: optional
Maintainer: Cristian Greco <cristian@debian.org>
Uploaders: Andrew Starr-Bochicchio <asb@debian.org>
Build-Depends-Indep: dh-python,
                     intltool,
                     python3-all,
                     python3-setuptools,
                     python3-wheel,
                     unzip
Standards-Version: 4.5.0
Vcs-Git: https://salsa.debian.org/debian/deluge.git
Vcs-Browser: https://salsa.debian.org/debian/deluge
Homepage: https://www.deluge-torrent.org/
Build-Depends: debhelper-compat (= 13)

Package: deluge-common
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-six,
         python3-twisted (>= 11.1),
         python3-openssl,
         python3-pkg-resources,
         python3-chardet,
         python3-xdg,
         python3-rencode
Recommends: python3-setproctitle,
            python3-pil,
            python3-geoip,
            geoip-database,
            python3-dbus
Breaks: deluge-torrent-common (<< 1.0.7.dfsg-1), deluge-torrent (<< 1.0.7.dfsg-1), deluge-core (<< 1.2.0~rc1-1)
Replaces: deluge-torrent-common (<< 1.0.7.dfsg-1), deluge-torrent (<< 1.0.7.dfsg-1), deluge-core (<< 1.2.0~rc1-1)
Description: bittorrent client written in Python/PyGTK (common files)
 Deluge is a full-featured, multi-platform, multi-interface BitTorrent client
 using libtorrent-rasterbar in it's backend and featuring multiple
 user-interfaces: GTK+, web and console.
 .
 It has been designed using the client-server model with a daemon process that
 handles all the bittorrent activity. The Deluge daemon is able to run on
 headless machines with the user-interfaces being able to connect remotely
 from any platform.
 .
 This package contains data files commons to both the daemon and the
 various user-interfaces.

Package: deluged
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         deluge-common (= ${source:Version}),
         python3-libtorrent (>= 1.1.2),
         adduser,
         lsb-base (>= 3.2-14)
Description: bittorrent client written in Python/PyGTK (daemon)
 Deluge is a full-featured, multi-platform, multi-interface BitTorrent client
 using libtorrent-rasterbar in it's backend and featuring multiple
 user-interfaces: GTK+, web and console.
 .
 It has been designed using the client-server model with a daemon process that
 handles all the bittorrent activity. The Deluge daemon is able to run on
 headless machines with the user-interfaces being able to connect remotely
 from any platform.
 .
 You may want to install this package to run the daemon application on a remote
 server and connect to it from any user-interface.
 See: <URL:http://dev.deluge-torrent.org/wiki/UserGuide/ThinClient>

Package: deluge-console
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-libtorrent (>= 1.1.2),
         deluge-common (= ${source:Version})
Description: bittorrent client written in Python/PyGTK (console ui)
 Deluge is a full-featured, multi-platform, multi-interface BitTorrent client
 using libtorrent-rasterbar in it's backend and featuring multiple
 user-interfaces: GTK+, web and console.
 .
 It has been designed using the client-server model with a daemon process that
 handles all the bittorrent activity. The Deluge daemon is able to run on
 headless machines with the user-interfaces being able to connect remotely
 from any platform.
 .
 This package contains the console user-interface.

Package: deluge-web
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         deluge-common (= ${source:Version}),
         python3-mako
Breaks: deluge-webui (<< 1.2.0~rc1-1)
Replaces: deluge-webui (<< 1.2.0~rc1-1)
Description: bittorrent client written in Python/PyGTK (web ui)
 Deluge is a full-featured, multi-platform, multi-interface BitTorrent client
 using libtorrent-rasterbar in it's backend and featuring multiple
 user-interfaces: GTK+, web and console.
 .
 It has been designed using the client-server model with a daemon process that
 handles all the bittorrent activity. The Deluge daemon is able to run on
 headless machines with the user-interfaces being able to connect remotely
 from any platform.
 .
 You may want to install this package on a remote server running the deluge
 daemon (package deluged).
 See: <URL:http://dev.deluge-torrent.org/wiki/UserGuide/ThinClient>

Package: deluge-gtk
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         deluge-common (= ${source:Version}),
         python3-gi,
         python3-gi-cairo,
         gir1.2-gtk-3.0,
         libnotify4,
         librsvg2-common,
         xdg-utils
Breaks: deluge (<< 1.2.0-1)
Replaces: deluge (<< 1.2.0-1)
Recommends: ${dist:Recommends},
            gir1.2-appindicator3-0.1,
            python3-pygame
Description: bittorrent client written in Python/PyGTK (GTK+ ui)
 Deluge is a full-featured, multi-platform, multi-interface BitTorrent client
 using libtorrent-rasterbar in it's backend and featuring multiple
 user-interfaces: GTK+, web and console.
 .
 It has been designed using the client-server model with a daemon process that
 handles all the bittorrent activity. The Deluge daemon is able to run on
 headless machines with the user-interfaces being able to connect remotely
 from any platform.
 .
 You may want to install this package to use the Deluge GTK+ user-interface
 as a thin client and connect to a remote daemon.
 See: <URL:http://dev.deluge-torrent.org/wiki/UserGuide/ThinClient>

Package: deluge
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-libtorrent (>= 1.1.2),
         deluge-gtk (= ${source:Version})
Breaks: deluge-common (<< 1.2.0~rc1-1)
Replaces: deluge-common (<< 1.2.0~rc1-1)
Description: bittorrent client written in Python/PyGTK
 Deluge is a full-featured, multi-platform, multi-interface BitTorrent client
 using libtorrent-rasterbar in it's backend and featuring multiple
 user-interfaces: GTK+, web and console.
 .
 It has been designed using the client-server model with a daemon process that
 handles all the bittorrent activity. The Deluge daemon is able to run on
 headless machines with the user-interfaces being able to connect remotely
 from any platform.
 .
 You may want to install this package to use Deluge in classic mode,
 which means the daemon and the GTK+ user-interface are linked together.
